# ---------------------------------------
# PostgreSQL connection (runtime / app)
# ---------------------------------------
PG_HOST=__DEV_PG_HOST__
PG_PORT=__DEV_PG_PORT__
PG_DB_NAME=__PROJECT_DB_NAME__

PG_APP_USER=__DEV_PG_APP_USER__
PG_APP_SECRET=__DEV_PG_APP_SECRET__

# ---------------------------------------
# PostgreSQL connection (admin / migrations)
# ---------------------------------------
PG_ADMIN_USER=__DEV_PG_ADMIN_USER__
PG_ADMIN_SECRET=__DEV_PG_ADMIN_SECRET__

# ---------------------------------------
# Application
# ---------------------------------------
APP_ENV=development
APP_DEBUG=true